header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 0.8em;
}

.creator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.amy-pic {
    width: 75%;
}

.hide {
    display: none;
}

.slides  {
    width: 90vw;
}