header, footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    text-align: center;
}

.advert-txt {
    position: absolute;
    top: 0;
    left: 0;
}

.title {
    background-color: #000;
    color: #fff;
    border-radius: 15px;
    padding: 0.8em;
}

.creator,.work-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.amy-pic {
    width: 75%;
}

.hide {
    display: none;
}

.slides  {
    width: 90vw;
}

button {
    border-radius: 15px;
    padding: 0.6em 1em;
}

.creator-btn,.consult-btn {
    background-color: #EB7565;
    color: #FFF7F0;
}

.slide-btn-div {
    margin-top: 1.5em;
}

#left,#right {
    border-radius: 50%;
    background-color: black;
    padding: 2em;
}

.call {
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 2.5em;
    padding: 1em;
    border-radius: 20px;
}

.call button {
    margin: 2em auto 2em auto;
}

footer {
    margin-top: 3em;
}

footer button {
    background-color: #000;
    color: #FFF7F0;
}

@media (min-width: 768px) {
    .amy-pic {
        width: 35%;
    }

    .creator {
        flex-direction: row;
        text-align: left;
    }

    .creator-btn {
        position: relative;
        left: 12em;
    }

    .creator-txt-div {
        margin-left: 1.3em;
    }
}